body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #333 url("images/bgr1.jpg") top left;
  font: 16px 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: #000;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #000;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}
.outer {
  max-width: 680px;
  margin: 0 auto;
/* padding: 0 gutter-width */
  margin-top: 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 96.969696969697%;
  margin: 0 1.5151515151515%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #333 url("images/bgr1.jpg") top left;
}
.mobile-nav-on #wrap {
  left: 280px;
}
.article-date,
.article-category-link,
.archive-year {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
/* text-shadow: 0 1px #fff */
  text-shadow: 0 1px #6c4564;
  font-weight: bold;
}
.article-inner,
.archive-article-inner {
/* background: #fff */
  background: #6c4564;
/* box-shadow: 1px 2px 3px #ddd */
  -webkit-box-shadow: 1px 2px 3px #7d5675;
  box-shadow: 1px 2px 3px #7d5675;
/* border: 1px solid color-border */
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.article-entry p,
.widget p {
  font-family: "Helvetica Neue", Helvetica, 'Microsoft Yahei', "微软雅黑", arial, "宋体", sans-serif;
}
.article-entry h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #5b3453;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#header {
/* height: banner-height */
  position: relative;
/* border-bottom: 1px solid color-border */
}
#header:before,
#header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
}
#header:before {
  top: 0;
/* background: linear-gradient(rgba(0, 0, 0, 0.2), transparent) */
}
#header:after {
  bottom: 0;
/* background: linear-gradient(transparent, rgba(0, 0, 0, 0.2)) */
}
#header-outer {
/* height: 100% */
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
/* height: 100% */
/* background: url(banner-url) center #000 */
/* background-size: cover */
  z-index: -1;
}
#header-title {
/* text-align: center */
  text-align: left;
  height: 105px;
/* position: absolute */
  top: 50%;
  left: 0;
  padding-top: 70px;
/* margin-top: logo-size * -0.5 */
}
#logo,
#subtitle {
  text-decoration: none;
  font-family: "Quigley Wiggly";
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
#logo {
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 2px;
}
#subtitle {
  padding-left: 40%;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}
#subtitle-wrap {
  margin-top: 16px;
}
#main-nav {
  float: left;
/* margin-left: -15px */
}
.nav-icon,
.main-nav-link,
#nav-rss-link {
  float: left;
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  background: #008000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-right: 20px;
}
.nav-icon:hover,
.main-nav-link:hover,
#nav-rss-link:hover {
  opacity: 1;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  padding: 6px;
/* padding: 20px 15px */
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  margin-right: 120px;
/* margin-right: -15px */
}
#nav-rss-link {
  padding: 7px 7px 7px 7px;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn {
/* @extend $nav-link */
  padding: 7px 7px 7px 7px;
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  position: absolute;
/* top: 15px */
  width: 150px;
  height: 30px;
/* right: -150px */
  right: 0px;
/* opacity: 0 */
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
/* background: #fff */
  padding: 5px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) */
  -webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
  box-shadow: 0 0 0px rgba(0,0,0,0);
}
.search-form-input {
  border: none;
  background: none;
  color: #008000;
  width: 100%;
  font: 13px 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
/* right: 10px */
  left: -10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  opacity: 0;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
.article {
/* margin: block-margin 0 */
  margin-top: 20px !important;
  margin-bottom: 50px !important;
}
.article-inner {
  overflow: hidden;
}
.article-meta {
  float: right;
  margin-top: -25px;
  margin-right: -3px;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  float: left;
}
.article-category {
  float: right;
/* float: left */
  line-height: 1em;
  color: #ccc;
/* text-shadow: 0 1px #fff */
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-header {
  padding: 40px 20px 0;
}
.article-header h1 {
  border-bottom: 1px solid #feab8c;
  line-height: 35px;
/* float:left */
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #ddd;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
/* color: color-link */
  color: #258fb8;
}
.article-entry {
  color: #ddd;
  padding: 0 20px;
/* add */
/* end */
  margin-top: 1em;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry h1,
.article-entry h1 a,
.article-entry h1 a:visited {
  color: #f60;
}
.article-entry h2,
.article-entry h2 a,
.article-entry h2 a:visited {
  color: #258fb8;
}
.article-entry h3,
.article-entry h3 a,
.article-entry h3 a:visited {
  color: #9c0;
}
.article-entry h1:after {
  content: '¶';
  color: #fda972;
}
.article-entry h2:after {
  content: '¶¶';
  color: #258fb8;
}
.article-entry h3:after {
  content: '¶¶¶';
  color: #9c0;
}
.article-entry h1:after,
.article-entry h2:after,
.article-entry h3:after {
  display: none;
}
.article-entry h1:hover:after,
.article-entry h2:hover:after,
.article-entry h3:hover:after {
  display: inline;
}
.article-entry a {
  color: #feab8c;
  text-decoration: none;
}
.article-entry a:hover {
  color: #258fb8;
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #5b3453;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #5b3453;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.4em;
  margin: 1.6em 20px;
  text-align: center;
}
.article-entry blockquote footer {
  font-size: 16px;
  margin: 1.6em 0;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 2em;
/* padding: 6px 15px */
  padding: 3px 3px 2px;
/* border-radius: 15px */
  -webkit-border-radius: 5px;
  border-radius: 5px;
/* background: color-background */
  background: #feab8c;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
  color: #666;
/* text-shadow: 0 1px #fff */
/* text-shadow: 0 1px #ed9a7b */
  text-decoration: none;
}
.article-more-link a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -ms-transition: background 0.1s;
  transition: background 0.1s;
/* text-shadow: 0 1px darken(color-link, 20%) */
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
/* border-top: 1px solid color-border */
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #4d4d4d;
  text-decoration: none;
}
.article-footer a:hover {
  color: #ddd;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
}
.article-nav-link-wrap {
  font-family: verdana, 9 ED1 4 F53, sans-serif;
  padding: 0 8px;
  line-height: 28px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px 3px;
  background: #feab8c;
  color: #4d4d4d;
  text-decoration: none;
/* text-shadow: 0 1px #fff */
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  background: #a33b14;
  color: #4d4d4d;
  text-decoration: none;
/* color: color-default */
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5b3453;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  padding: 0 15px;
  color: #ddd;
  outline: none;
  border: 1px solid #5b3453;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #333 url("images/bgr1.jpg") top left;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
#comments {
  background: #6c4564;
  -webkit-box-shadow: 1px 1px 2px #7d5675;
  box-shadow: 1px 1px 2px #7d5675;
  padding: 20px;
  border: 1px solid #5b3453;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #feab8c;
}
#ds-recent-visitors .ds-avatar img {
  width: 22px !important;
  height: 22px !important;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #ddd;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #feab8c;
}
.archive-type-post a {
  color: #ddd;
  text-decoration: none;
}
.archive-type-post a:hover {
  color: #feab8c;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  margin: 50px auto;
  background: #6c4564;
/* box-shadow: 1px 2px 3px #ddd */
  border: 1px solid #5b3453;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #258fb8;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #ddd;
  font-weight: bold;
}
#page-nav .space {
  color: #5b3453;
}
#footer {
  background: #262a30;
  padding: 50px 0;
  border-top: 1px solid #5b3453;
  color: #999;
}
#footer a {
  color: #feab8c;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
/* border-color: color-border */
  border-color: #2d2d2d;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 25.6px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  border: 1px solid #d6d6d6;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 90%;
  text-shadow: 0 1px #fff;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #c7254e;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 25.6px;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #5b3453;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #feab8c;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  #spig .mumu {
    width: 150px;
    height: 190px;
    cursor: move;
    background: url("images/spig4.png") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}
@media screen and (max-width: 479px) {
  #spig .mumu {
    width: 50px;
    height: 60px;
    cursor: move;
    background: url("images/spig4.png") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .spig {
    display: block;
    width: 150px;
    height: 190px;
    position: absolute;
    top: -200px;
    left: 150px;
    z-index: 9999;
  }
}
@media screen and (max-width: 479px) {
  .spig {
    display: block;
    width: 50px;
    height: 60px;
    position: absolute;
    top: -200px;
    left: 280px;
    z-index: 9999;
  }
}
@media screen and (min-width: 768px) {
  #message {
    color: #191919;
    border: 1px solid #c4c4c4;
    background: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 1em;
    padding: 5px;
    top: -50px;
    position: absolute;
    text-align: center;
    width: auto !important;
    z-index: 10000;
    -moz-box-shadow: 0 0 15px #eee;
    -webkit-box-shadow: 0 0 15px #eee;
    border-color: #eee;
    -webkit-box-shadow: 0 0 15px #eee;
    box-shadow: 0 0 15px #eee;
    outline: none;
  }
}
@media screen and (max-width: 479px) {
  #message {
    font-size: 5px;
    color: #191919;
    border: 1px solid #c4c4c4;
    background: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 1em;
    padding: 5px;
    top: -50px;
    position: absolute;
    text-align: center;
    width: auto !important;
    z-index: 10000;
    -moz-box-shadow: 0 0 15px #eee;
    -webkit-box-shadow: 0 0 15px #eee;
    border-color: #eee;
    -webkit-box-shadow: 0 0 15px #eee;
    box-shadow: 0 0 15px #eee;
    outline: none;
  }
}
.widget-wrap {
  margin-bottom: 50px !important;
}
@media screen and (min-width: 768px) {
  .widget-wrap {
    display: inline;
    float: left;
    width: 30.303030303030297%;
    margin: 0 1.5151515151515%;
  }
}
.widget-title {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1em;
  line-height: 1em;
  font-weight: bold;
}
.widget {
  color: #999;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
